/*
 * Copyright Linux Kernel Team
 *
 * SPDX-License-Identifier: GPL-2.0-only
 *
 * This file is derived from an intermediate build stage of the
 * Linux kernel. The licenses of all input files to this process
 * are compatible with GPL-2.0-only.
 */

/dts-v1/;

/ {

    compatible = "raspberrypi,4-model-b\0brcm,bcm2711";
    model = "Raspberry Pi 4 Model B";
    #address-cells = <0x02>;
    #size-cells = <0x01>;
    interrupt-parent = <&gicv2>;
    
    aliases {
        serial2 = "/soc/serial@7e201400";
    };

    memory@40000000 {
        device_type = "memory";
        reg = <0x00 0x40000000 0x20000000>; /* 512MB */
    };

    cpus {
        #address-cells = <0x01>;
        #size-cells = <0x00>;
        enable-method = "brcm,bcm2836-smp";
        cpu@0 {
            device_type = "cpu";
            compatible = "arm,cortex-a72";
            reg = <0x00>;
            enable-method = "spin-table";
            // enable-method = "psci";
            cpu-release-addr = <0x00 0xd8>;
        };
    };

    gicv2: interrupt-controller@ff841000 {
        interrupt-controller;
        #interrupt-cells = <0x03>;
        compatible = "arm,gic-400";
        reg = <0x00 0xff841000 0x1000
               0x00 0xff842000 0x2000
               0x00 0xff844000 0x2000
               0x00 0xff846000 0x2000>;
        /* TODO: check these interrupts */
        interrupts = <0x01 0x09 0xf04>;
    };

    /*
     * psci {
     *    compatible = "arm,psci-0.2";
     *    method = "hvc";
     * };
     */
    
    soc {
        compatible = "simple-bus";
        #address-cells = <0x01>;
        #size-cells = <0x01>;
        ranges = <0x7e000000 0x00 0xfe000000 0x1800000 
                  0x7c000000 0x00 0xfc000000 0x2000000 
                  0x40000000 0x00 0xff800000 0x800000>;

        cprman@7e101000 {
            compatible = "brcm,bcm2711-cprman";
            #clock-cells = <0x01>;
            reg = <0x7e101000 0x2000>;
            clocks = <0x03 0x04 0x00 0x04 0x01 0x04 0x02 0x05 0x00 0x05 0x01 0x05 0x02>;
        };
        
        serial@7e201400 {
            compatible = "arm,pl011\0arm,primecell";
            reg = <0x7e201400 0x200>;
            interrupts = <0x00 0x79 0x04>;
            clocks = <0x06 0x13 0x06 0x14>;
            clock-names = "uartclk\0apb_pclk";
            arm,primecell-periphid = <0x241011>;
            status = "okay";
        };

    };

    timer {
        compatible = "arm,armv8-timer";
        interrupts = <0x01 0x0d 0xf08 0x01 0x0e 0xf08 0x01 0x0b 0xf08 0x01 0x0a 0xf08>;
    };
    
    clocks {

        clk-osc {
            compatible = "fixed-clock";
            #clock-cells = <0x00>;
            clock-output-names = "osc";
            clock-frequency = <0x337f980>;
        };
    };
    
    pci {
        compatible = "pci-host-cam-generic";
        device_type = "pci";
        reg = <0x01 0x00000000 0x03000000>; // 48MB
        
        #address-cells = <0x3>;
        #size-cells =  <0x2>;
        #interrupt-cells = <0x1>;
        bus-range = <0x0 0x1>;
        dma-coherent;
        
        /*
         * CFG region, 16MB (0x00 0x01000000) @PCI address 0x00000000, @CPU address 0x100000000
         * I/O region, 64kB (0x00 0x00010000) @PCI address 0x01000000, @CPU address 0x101000000
         * MEM region, 16MB (0x00 0x01000000) @PCI address 0x02000000, @CPU address 0x102000000
         */
        ranges = <0x00000000 0x00 0x00000000 0x01 0x00000000 0x00 0x01000000
                  0x01000000 0x00 0x01000000 0x01 0x01000000 0x00 0x00010000
                  0x02000000 0x00 0x02000000 0x01 0x02000000 0x00 0x01000000>;

        interrupt-map = <0x800 0 0 1 0x01 0 143 4>; // Only #INTA, IRQ# 143/8F
        interrupt-map-mask = <0xf800 0 0 7>;
    };
    
    chosen {
        linux,initrd-end = <0x00 0x60000000>;
        linux,initrd-start = <0x00 0x5d000000>;
        stdout-path = "serial2:115200n8";
        bootargs = "console=ttyS2,115200n8 earlyprintk=serial root=/dev/ram0 nosmp maxcpus=1 rw debug loglevel=8 pci=nomsi initcall_debug initcall_blacklist=clk_disable_unused";
        linux,stdout-path = "serial2:115200n8";
    };
};
